/* General */
:root {
  --primary-bg-color: #fff;
  --secondary-bg-colour: #e7e9fc;
  --hero-bg-color: rgb(46, 47, 66);
  --primary-text-color: #434455;
  --primary-title-color: #2e2f42;
  --normal-button-color: #4d5ae5;
  --normal-button-bg: #f4f4fd;
  --hover-button-bg: #404bbf;
  --button-border-color: #9747ff;
  --light-slate-color: hwb(235 56% 40%);
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --success: #31d0aa;
  --dairy: #fcfcfc;
  --transition-duration: 250ms;
  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  border: none;
  padding: 0;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: inherit;
}

.container {
  width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding: 120px 0;
}

/* Header */

.page-header {
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-bg-colour);
}

@media screen and (min-width: 768px) {
  .page-header {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary-bg-colour);
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary-bg-colour);
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu-open-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .burger-menu-icon {
    width: 32px;
    height: 32px;
    fill: var(--primary-title-color);
    line-height: 0;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-button {
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--normal-button-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-function);
}

.logo:hover,
.logo:focus {
  color: var(--hover-button-bg);
}

.logo-dark {
  color: var(--primary-title-color);
}

.site-nav {
  display: flex;
  margin-left: 76px;
}
.site-nav-link {
  display: inline-block;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 24px 0;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-function);
}

.site-nav-item:not(:last-child) {
  margin-right: 40px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--hover-button-bg);
}

.current {
  display: block;
  color: var(--hover-button-bg);
  position: relative;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-button-bg);
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
}

address {
  display: none;
}

@media screen and (min-width: 768px) {
  address {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
}

.contact {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-function);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .item + .item {
  margin-left: 40px;
}

.contact:hover,
.contact:focus {
  color: var(--hover-button-bg);
}

/*------------- Main ---------------------- */

/* -------------- Hero ----------------------- */
.hero {
  position: relative;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  color: var(--primary-bg-color);
  font-size: 56px;
  line-height: 1.07;
  width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  background-color: var(--normal-button-color);
  color: var(--primary-bg-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 32px;
  border: 1px dashed var(--button-border-color);
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: (--cubic-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-button-bg);
}

/* ------------------ Features --------------------- */
.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list-item {
  width: 264px;
  margin-right: 24px;
}

.feature-list-item:last-child {
  margin-right: 0;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  margin-bottom: 8px;
}

.feature-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.feature-list-button {
  width: 264px;
  height: 112px;
  background-color: var(--normal-button-bg);
  margin-bottom: 8px;
  border-radius: 4px;
}

.feature-icon {
  width: 64px;
  height: 64px;
}

/*--------------------- Products ------------------ */

.section-title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.products-list {
  display: flex;
  padding-top: 0;
}

.products-list .item:not(:last-child) {
  margin-right: 24px;
}

/*------------------ Our Team ---------------------*/
.team-title {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.team {
  background-color: var(--secondary-bg-colour);
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 24px;
}

.team-portrait {
  margin-bottom: 24px;
}

.team-card {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-function {
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 32px;
}

.team-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--normal-button-color);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-function);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--hover-button-bg);
}

.team-social-icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-bg-color);
}

/* ----------- Customers ----------------- */
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customer-list-link {
  display: flex;
  color: var(--light-slate-color);
  width: 168px;
  height: 88px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-function);
}

.customer-list-link:hover,
.customer-list-link:focus {
  color: var(--hover-button-bg);
  border-color: var(--hover-button-bg);
}

.customer-list-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* -------------- Footer -----------------*/

.footer {
  background-color: var(--hero-bg-color);
  padding: 100px 0 100px 0;
}

.footer-list {
  display: flex;
  gap: 120px 80px;
}

.declaration {
  color: var(--primary-bg-color);
  width: 264px;
  margin-top: 16px;
}

.logo-light {
  color: var(--primary-bg-color);
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
}

.footer-social-list {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}

.footer-list-item {
  display: inline-block;
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success);
}

.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-bg-color);
}
/* ----------- Subscribe -------------- */

.footer-subscribe-wrapper {
  display: inline-flex;
  /* align-items: center; */
  margin-bottom: 0;
}

.footer-subscribe-label {
  width: 264px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
  margin-right: 24px;
}

.footer-sibscribe-input {
  width: 100%;
  height: 40px;
  background-color: var(--hero-bg-color);
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  margin-top: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.footer-sibscribe-input:placeholder {
  color: white;
}

.footer-button-wrapper {
  display: flex;
  align-items: flex-end;
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 8px 24px 8px 24px;
  background-color: var(--normal-button-color);
  color: var(--primary-bg-color);
  border-radius: 4px;
}

.footer-send-icon {
  width: 22px;
  height: 18px;
  fill: var(--primary-bg-color);
  margin-left: 16px;
}

/* ----------------- Portfolio -------------- */
.filters-list {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
}

.filter-list-item:not(:last-child) {
  margin-right: 24px;
}

.filter-btn {
  background-color: var(--normal-button-bg);
  color: var(--normal-button-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-function);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--hover-button-bg);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-btn {
  background-color: var(--hover-button-bg);
  color: var(--primary-bg-color);
}

/* ------------- Project Cards -------------- */

.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  padding: 32px 0 0 16px;
  margin-bottom: 8px;
}

.project-card-category {
  padding: 0 0 32px 16px;
}

.project-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 120px;
}

.project-card-border {
  border: 1px solid var(--secondary-bg-colour);
  border-top: none;
}

.project-card-link {
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-function);
}

.project-card-link:hover,
.project-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ----------------- Overlay ----------------- */
.project-card-overlay {
  position: relative;
  overflow: hidden;
}

.project-card-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  background-color: var(--normal-button-color);
  color: var(--normal-button-bg);
  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--cubic-function);
}

.project-card-link:hover .project-card-overlay-text,
.project-card-link:focus .project-card-overlay-text {
  transform: translateY(0%);
}

/* ---------------- Backdrop ------------------ */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  transition: opacity var(--transition-duration),
    visibility var(--transition-duration);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 408px;
  max-width: 100%;
  min-height: 584px;
  background-color: var(--dairy);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--secondary-bg-colour);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/* --------- Modal Form ------ */
.close-button-icon {
  width: 8px;
  height: 8px;
  fill: var(--primary-title-color);
}
.modal-form {
  padding: 72px 0 16px 0;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--light-slate-color);
  transition: border-color var(--transition-duration) var(--cubic-function);
  border-radius: 4px;
  padding-left: 38px;
  margin-bottom: 8px;
}

.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-box-icon {
  position: absolute;
  top: 0;
  left: 16px;
  transform: translateY(50%);
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form-icon {
  width: 12px;
  height: 12px;
  fill: var(--primary-title-color);
}

.modal-form-input:focus + .modal-form-box-icon > .modal-form-icon {
  fill: var(--normal-button-color);
}

.modal-form-input:focus,
.input-form-comment:focus {
  outline: none;
  border-color: var(--normal-button-color);
}

.input-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 0 0 16px;
  border: 1px solid var(--light-slate-color);
  transition: border-color var(--transition-duration) var(--cubic-function);
  border-radius: 4px;
  margin-bottom: 16px;
  resize: none;
}

.input-form-comment-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--light-slate-color);
}

.input-form-comment-text {
  display: block;
  margin-bottom: 4px;
}

.input-form-comment::placeholder {
  color: var(--navy-blue-modal);
}

.modal-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--light-slate-color);
  transition: border-color var(--transition-duration) var(--cubic-function);
  border-radius: 2px;
  cursor: pointer;
}

.modal-checkbox-agreement:checked + .modal-checkbox-label::before {
  background-color: var(--hover-button-bg);
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-checkbox-agreement:focus + .modal-checkbox-label::before {
  border-color: var(--normal-button-color);
}
.modal-checkbox-label {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
  align-items: center;
  margin-bottom: 24px;
}
.modal-checkbox-text {
  padding-left: 8px;
}

.modal-checkbox-link {
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--normal-button-color);
}

.modal-button-wrapper {
  display: flex;
  justify-content: center;
}
.modal-button {
  background-color: var(--normal-button-color);
  width: 169px;
  height: 56px;
  color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
}

/* Mobile-menu-backdrop */

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  top: 0;
  left: 0%;
  transformy: translate(-100%);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 72px 24px 24px 24px;
}

.mobile-menu-close-icon {
  width: 8px;
  height: 8px;
  fill: var(--primary-text-color);
}

.mobile-menu-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--secondary-bg-colour);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
